name: PHP CI/CD

env:
  VS_WORKFLOW_TYPE: "php-cicd"
  hashnode_username: 'ayushi7rawat'
  count: 8

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
    paths:
      - '**.php'

jobs:
  apigen_docs:
    name: "ApiGen Docs"
    runs-on: ubuntu-latest
    steps:
      - name: "游닌  Fetching Repository Contents"
        uses: actions/checkout@main

      - name: "游닌  GIST"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "88ca4064876a7971a1c61e8e19e42b98"
          TYPE: "gist"
        env:
          GITHUB_TOKEN: ${{ secrets.GIST_TOKEN }}

          
      - name: "游닌  blog"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "blog.md"
          STYLE: "blog"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "游닌  blog-left"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "blog-left.md"
          STYLE: "blog-left"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "游닌  blog-right"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "blog-right.md"
          STYLE: "blog-right"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "游닌  blog-alternate"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "blog-alternate.md"
          STYLE: "blog-alternate"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "游닌  blog-grid"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "blog-grid.md"
          STYLE: "blog-grid"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "游닌  blog-grid-4"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: ${{ env.hashnode_username }}
          COUNT: ${{ env.count }}
          FILE: "blog-grid-4.md"
          STYLE: "blog-grid-3"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
