name: PHP CI/CD

env:
  VS_WORKFLOW_TYPE: "php-cicd"

on: 
  workflow_dispatch:
  push:
    branches:
      - master
      - main
    paths:
      - '**.php'

jobs:
  apigen_docs:
    name: "ApiGen Docs"
    runs-on: ubuntu-latest
    steps:
      - name: "游닌  Fetching Repository Contents"
        uses: actions/checkout@main

      - name: "游닌  blog"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: "ayushi7rawat"
          COUNT: 17
          FILE: "blog.md"
          STYLE: "blog"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "游닌  blog-left"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: "ayushi7rawat"
          COUNT: 17
          FILE: "blog-left.md"
          STYLE: "blog-left"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      - name: "游닌  blog-right"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: "ayushi7rawat"
          COUNT: 17
          FILE: "blog-right.md"
          STYLE: "blog-right"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
